$drk-primary: #1c1c1c;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;
@import "account_dropdown";
@import "settings_dropdown";

@keyframes arrowIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.fa-angle-down, .fa-angle-right {
  opacity: 0;

  animation-name: arrowIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.navbar-container {
  height: 80px;
  width: 100%;
  padding: 0px 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $drk-text;
  background-color: $drk-primary;
  border-bottom: 15px solid $lt-primary;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  h1 {
    height: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: $lt-primary;
    box-shadow: -8px 0px 5px -5px rgba(0,0,0,0.16), 8px 0px 5px -5px rgba(0,0,0,0.16);
  }

  // button:first-child {
  //   min-width: 110px;
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 10px 15px;
  //   border-radius: 2px;
  //   font-size: 15px;
  //   font-weight: bold;
  //
  //   i {
  //     position: absolute;
  //     left: 0px;
  //   }
  //
  // }
  //
  // button:last-child {
  //   min-width: 110px;
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 10px 15px;
  //   border-radius: 2px;
  //   font-size: 15px;
  //   font-weight: bold;
  //
  //   i {
  //     position: absolute;
  //     right: 0px;
  //   }
  // }

  .account-button {
    min-width: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;

    i {
      position: absolute;
      left: 0px;
    }

  }

  .info-button {
    min-width: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;

    i {
      position: absolute;
      left: 0px;
    }

  }
}
