$drk-primary: #1c1c1c;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;

.navbar-container {
  height: 80px;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $drk-text;
  background-color: $drk-primary;
  border-bottom: 15px solid $lt-primary;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  h1 {
    height: 100%;
    // width: 300px;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: $lt-primary;
  }

  button {
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    transition: 1s;

    i {
      margin-right: 5px;
    }

  }

  button:hover {
    i {
      transform: scale(1.5);
    }
  }

}
