/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

node_modules/
.DS_Store
.byebug_history

# Ignore application configuration
/config/application.yml

app/assets/javascripts/*
!app/assets/javascripts/application.js
!app/assets/javascripts/cable.js
!app/assets/javascripts/config/.keep
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
