$white: #F6F7F9;
$off-white: #e9ebee;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;

@keyframes picksIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.picks-container {
  height: 100%;
  width: 50%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  .picks-left, .picks-right {
    position: relative;
    display: flex;
    flex-direction: column;

    button {
      font-size: 40px;
      padding-left: 10px;
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: .5s;
    }

    button:hover {
      color: red;
    }

    .picks-selection-container {
      width: 331px;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      overflow-y: scroll;
    }

    .selection-item {
      display: flex;
      flex-direction: row;
      height: 50px;
      margin-right: 20px;
      margin-bottom: 20px;


      img {
        width: 50px;
        border-radius: 25%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: .2s;
        cursor: pointer;
      }

      img:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

      div {
        height: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .picks-form {
      position: absolute;
      top: -50px;
      left: -150px;
      display: flex;
      opacity: 0;
      animation-name: picksIn;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      button {
        font-size: 25px;
        cursor: pointer;
        transition: .5s;
        padding-right: 10px;
        // border-bottom: .2px rgba(51, 51, 51,.2) solid;
      }

      button:hover {
        color: red;
      }
    }
  }
}
