$white: #F6F7F9;
$off-white: #e9ebee;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;

@keyframes picksIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.picks-container {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    button {
      font-size: 40px;
      padding-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: .5s;
      flex: 0 0 auto;
    }

    button:hover {
      color: red;
    }

    .selection-item {
      display: flex;
      flex-direction: row;
      height: 50px;
      margin-bottom: 25px;
      flex: 0 0 auto;

      .pick-button {
        width: 50px;
        position: relative;
        display: inline-block;
        border-radius: 25%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s ease-in-out;
      }

      .pick-button::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 5px;
        transition: opacity 0.3s ease-in-out;
      }

      .pick-button:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transform: scale(1.2,1.2);
      }

      .pick-button::after {
        opacity: 1;
      }

      div {
        height: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }

    .picks-form {
      position: absolute;
      top: -50px;
      left: -150px;
      display: flex;
      opacity: 0;
      animation-name: picksIn;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      button {
        font-size: 25px;
        cursor: pointer;
        transition: .5s;
        padding-right: 10px;
      }

      button:hover {
        color: red;
      }
    }
  

  .selected-button {
    width: 50px;
    border-radius: 25%;
    transform: scale(1.2,1.2);
    box-shadow: 0 3px 6px green, 0 3px 6px green;
  }
}
