$drk-primary: #1c1c1c;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;
$off-white: #e9ebee;
$white: #F6F7F9;
@import "pool_list";

.home-container {
  height: 100%;
  // width: 50%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: $off-white;
}

.home-left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.home-right {
  display: flex;
  flex-direction: column;
}

.home-message {
  margin-bottom: 10px;
  padding: 5px;
  padding-bottom: 5px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 100%;
    line-height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background:-webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE));
  }

  div {
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 15px;
  }
}
