@import "pool_list";
@import "create_pool_form";
@import "join_pool_form";
@import "confirm_form";
@import "mod_board";

.home-container {
  height: 100%;
  width: 100%;
  min-width: 900px;
  // background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top {
  height: 278px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-bulletin {
  min-height: 327px;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $drk-primary;
}

.home-bottom {
  width: 870px;
  min-height: 432px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .standings-box {
    font-size: 12px;
    .standings-box-top-item{
      font-size: 14px;
      font-weight: bold;
    }
  }
}


