.join-form {
  div:nth-child(2) {
    margin-bottom: 20px;
  }
}


.join-form-button {
  height: 30px;
  margin-top: 5px;
  margin-left: auto;
  width: 100px;
  margin-bottom: 1px;
  font-size: 12px;
  line-height: 12px;
}

