$drk-primary: #1c1c1c;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;
$off-white: #e9ebee;
$white: #F6F7F9;

.pool-list {
  width: 870px;
  padding: 0px 5px;
  position: relative;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .pool-list-top {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .pool-list-top-title {
      font-weight: bold;
      opacity: .5;
    }

    .pool-list-top-buttons {
      width: 220px;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;

      button {
      height: 30px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background: $lt-primary;
      transition: .2s;
      color: white;
        i {
        padding-right: 10px;
        }
      }
      button:hover {
        background: white;
        color: $lt-primary; 
        border: 1px black solid;
      }
    }
  }

  .pool-list-bottom {
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: overlay;
    padding-left: 5px;

    .pool-list-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 125px;
      transition: .25s;
      margin: 5px 0px;
      font-size: 12px;
      line-height: 12px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background: $lt-primary;
      transition: .2s;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      i {
        padding-right: 5px;
        }
      }
    .pool-list-item:hover {
      background: white;
      color: $lt-primary; 
      border: 1px black solid;
    }  
  }
}
