$drk-primary: #1c1c1c;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;
$off-white: #e9ebee;
$white: #F6F7F9;

.pool-list {
  padding: 10px;
  padding-top: 20px;
  background: white;
  position: relative;
  border-radius: 5px;
}

.pool-list-item {
  width: 200px;
  padding: 5px;
  border: .2px $off-white solid;
  border-top: none;

  p {
    transition: .5s;
    cursor: pointer;
  }

  p:hover {
    opacity: .5;
  }
}

.pool-list-top-item {
  margin-top: 10px;
  width: 200px;
  padding: 0px 5px;
  border-bottom: .2px $off-white solid;
  background:-webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE))
}

.pool-list-title {
  position: absolute;
  top: 2px;
  left: 2px;
  padding-left: 5px;
  padding-top: 5px;
  line-height: 15px;
  font-size: 15px;
  opacity: .5;
}
