.pool-list {
  width: 579px;
  // height: 225px;
  position: relative;
  // padding-bottom: 5px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .pool-list-top {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;

    .pool-list-top-title {
      margin-right: 20px;
      font-weight: bold;
      opacity: .5;
    }

    // .pool-list-top-buttons {
    //   width: 220px;
    //   display: flex;
    //   justify-content: space-between;
    //   margin-top: 5px;
    // }
  }

  .pool-list-alert {
    font-size: 25px;
    opacity: .5;
    height: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pool-list-bottom {
    height: 210px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: overlay;

    .pool-list-item {
      // height: 37.5px;
      width: 140px;
      height: 30px;
      // width: 100px;
      font-size: 12px;
      line-height: 12px;
      margin: 7.5px 5px;
      // font-size: 15px;
      // line-height: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      i {
        padding-right: 5px;
      }
    }
    button {
      height: 30px;
      width: 140px;
      font-size: 12px;
      line-height: 12px;
      margin: 7.5px 5px;  
        i {
          padding-right: 10px;
        }     
    }
    .pool-create-button, .pool-join-button {
      margin-right: 20px;
      background: $drk-primary;
      color: white;     
      &:hover {
        background: white;
        color: black;
        border: 1px $drk-primary solid;
      }
    }  
  }
}
