// .profile-container {
//   width: 400px;
//   .auth-form-button {
//     height: 30px;
//     width: 90px;
//     margin-left: auto;
//   }
//   .poolform-group {
//     margin-bottom: 10px;
//   }
//   .auth-form {
//     margin-bottom: 40px;
//   }
// }

.profile-container {
  width: 400px;
  .auth-form-button {
    height: 30px;
    width: 90px;
    margin-left: auto;
  }
  .poolform-group {
    margin-bottom: 10px;
  }
  .auth-form {
    margin-bottom: 40px;
  }
}