.profile-container {
  margin: auto;
  width: 400px;
  padding: 40px 0px;
  .auth-form-button {
    height: 30px;
    width: 90px;
    margin-left: auto;
  }
  .poolform-group {
    margin-bottom: 10px;
  }
  .auth-form {
    margin-bottom: 40px;
  }
  .back-button {
    margin-right: auto;
    width: 90px;
    height: 30px;
    font-size: 15px;
  }
}