container_commands:
  01_npm_install:
    # set the current working directory to fully-qualified frontend
    cwd: '/var/app/ondeck/frontend/'
    command: 'npm install'
    leader_only: 'false'
  02_seeddb:
    # seed my database (has nothing to do with this answer)
    command: 'rake db:seed'
    leader_only: 'true'