.faq {
  width: 870px;
  padding: 10px 0px;
  .faq-item {
    margin: 10px 0px;
    .title {
      font-weight: bold;
    }
  }
}

.pricing {
  width: 870px;
  padding: 10px 0px;
  // margin: auto;
  .top-text {
    margin-bottom: 10px;
  }
  .rates {
    margin-bottom: 10px;
  }
  .title {
    font-weight: bold;
    margin-bottom: 2.5px;
  }
}