.alerts-container {
  > div[class^='css-'] > span > div[class^='css-'] {
    width: 400px;
    
    div {
      // alert icon
      &:first-child {
        font-size: 30px;
        color: red;
        opacity: 0.8;
      }
    
      // alert message div
      &:nth-child(2) {
        font-size: 15px;
        font-weight: 700;
        text-transform: none;
      }

      // alert close div
      &:last-child {
      }
    }
    
  }
}
