$off-white: #e9ebee;

.standings-box {
  padding-top: 20px;
  position: relative;

  .standings-box-title {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    text-align: left;
    opacity: .5;
    font-weight: bold;
  }

  div:nth-child(3) {
    color: #AF1E2C;
  }
}

.standings-box-item {
  display: flex;
  border-top: .2px rgba(51, 51, 51,.2) solid;
  padding: 5px;

  div:nth-child(3) {
    color: inherit;
  }

  div {
    text-align: left;
  }

  .title {
    width: 125px;
  }

  .score {
    width: 75px;
    border-left: none;
  }

  .losses {
    width: 75px;
    border-left: none;
  }

  .pool {
    width: 125px;
    border-left: none;
  }
}

.standings-box-top-item {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // background:-webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE));

  .title, .pool {
    width: 125px;
  }

  .score, .losses {
    width: 75px;
  }

  div:nth-child(3) {
    color: inherit;
  }
}
