@import "chat_box";
@import "mod_board";

.pool-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pool-standings {
  width: 870px;
  // min-height: 374px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .standings-box {
    font-size: 12px;
    .standings-box-top-item{
      font-size: 14px;
      font-weight: bold;
    }
  }

  div:first-child {
    margin-right: 15px;
  }

  .standings-box {
    div:first-child {
      margin-right: 0px;
    }
    div:last-child {
      margin-left: 0px;
    }
  }
}

.pool-bulletin {
  min-height: 327px;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lt-primary;
}

.pool-coms {
  min-height: 431px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pool-message {
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background:-webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE));
  }

  div {
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 15px;
  }

  div:last-child{
    padding-bottom: 5px;
  }
}
