.modal-button-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .modal-button {
    padding: 5px 20px;
    background: white;
    border: 1px $drk-primary solid;
    color: black;
    border-radius: 2px;
  
    &:hover {
      background: $drk-primary;
      color: white;
      border: white;
    }
  }
}

span {
  font-weight: bold;
}

.bulletin-box {
  width: 870px;
  padding: 0px 5px;
  padding-top: 40px;
  position: relative;
  background: $drk-primary;
  color: white;

  .bulletin-header {
    width: 870px;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;

    .invite-button {
      padding: 5px 20px;
      background: white;
      border: 1px white solid;
      color: black;
    
      &:hover {
        background: $drk-primary;
        color: white;
      }
    }

    h2 {
      font-weight: bold;
    }

  
    
  }

  .bulletin-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: hidden;

    .welcome {
      font-size: 20px;
      font-weight: bold;
    }

    .bulletin-item {
      margin-bottom: 10px;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .author {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .message {
        font-size: 15px;
      }
    }
  }
}
