$drk-primary: #1c1c1c;
$lt-primary: #2d2d2d;
$drk-text: #CDCDCD;
$off-white: #e9ebee;
$white: #F6F7F9;

.chat-box {
  width: 420px;
  margin-right: 15px;
  padding: 0px 5px;
  padding-top: 30px;
  // padding: 5px;
  // background: white;
  font-family: 'Karla', sans-serif;
  position: relative;

  h2 {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 20px;
    text-align: left;
    opacity: .5;
  }

  .message-container-container {
    padding: 5px;
  }

  .message-container {
    height: 200px;
    overflow-y: auto;

    .chat-box-item {
      font-size: 12px;
      line-height: 15px;
      margin: 2.5px 0px;

      span {
        font-size: 15px;
        text-decoration: underline;
        color: #AF1E2C;
      }
    }
  }

  .chat-form {
    margin-top: 5px;
    width: 100%;
    display: flex;

    .chat-input {
      height: 30px;
      width: 80%;
      padding-left: 5px;
      border-bottom: .2px rgba(51, 51, 51,.2) solid;
      font-size: 15px;
    }

    .chat-form-button {
      width: 20%;
      height: 30px;
      margin-left: 5px;
      margin-bottom: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background: -webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE));
      transition: .2s;
    }

    .chat-form-button:hover {
      color: #AF1E2C;
    }
  }
}
