.modboard {
  // width: 420px;
  margin-left: 15px;
  padding: 0px 5px;
  padding-top: 30px;
  position: relative;

  h2 {
    // width: 100%;
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 20px;
    text-align: left;
    opacity: .5;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    // background:-webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE));
  }

  .modboard-container-container {
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;

  }

  .modboard-container {
    height: 150px;
    overflow-y: auto;

    .modboard-item {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .author {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .message {
        font-size: 12px;
      }
    }
  }
}
