.modboard {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: white;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  h2 {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background:-webkit-gradient(linear, center bottom, center top, from(#F0EDE9), to(#FEFEFE));
  }

  .modboard-container-container {
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;

  }

  .modboard-container {
    height: 118px;
    overflow-y: scroll;

    .modboard-item {
      font-size: 12px;
      line-height: 15px;
      margin: 2.5px 0px;

      span {
        color: #AF1E2C;
        font-size: 15px;
        text-decoration: underline;
      }
    }
  }
}
