@import 'game_item.scss';
@import 'game_form.scss';

.console-container {
  display: -webkit-box;
  display: -ms-flexbox;
  margin: auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  padding: 20px 0px;

  .game-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .console-header {
    padding-left: 15px;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    i {
      -webkit-transition: .1s;
      -o-transition: .1s;
      transition: .1s;
      cursor: pointer;
    }

    i:hover {
      opacity: .5;
    }

    .fa-caret-left {
      padding-right: 5px;
      position: absolute;
      left: 0px;
      bottom: 4px;
    }

    .fa-caret-right {
      padding-left: 5px;
    }

    button {
      font-size: 20px;
      background: $drk-primary;
      color: white;
      padding: 0px 10px;
      height: 37px;
    }

    button:hover {
      background: white;
      color: black;
      border: .5px $drk-primary solid;
    }
  }

  .console-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: bold;
    padding: 10px 0px;
    margin: 10px 0px;
    color: white;
    background: $drk-primary;
    div {
      width: 125px;
      text-align: center;
    }
  }

  .week-form {
    width: 50%;
    padding: 50px 0px;
    padding-left: 10px;
    margin-right: auto;
    .pool-form-group {
      margin-bottom: 20px;
    }
    .week-button {
      padding: 5px 10px;
      margin-left: 5px;
      margin-bottom: 10px;
    }
  }
  .schedule-button {
    margin-left: 5px;
    padding: 5px 10px;
    background: white;
    border: 1px black solid;
     &:hover {
       color: white;
       background: $drk-primary;
       border: 1px $drk-primary solid;
     }
  }
}