.gif-49ers {
  background: url('./logos/49ers.png')
}
.gif-Bears {
  background: url('Bears.gif')
}
.gif-Bengals {
  background: url('Bengals.png')
}
.gif-Bills {
  background: url('./logos/Bills.gif')
}
.gif-Broncos {
  background: url('./logos/Broncos.gif')
}
.gif-Browns {
  background: url('./logos/Browns.gif')
}
.gif-Buccaneers {
  background: url('./logos/Buccaneers.gif')
}
.gif-Cardinals {
  background: url('./logos/Cardinals.gif')
}
.gif-Chargers {
  background: url('./logos/Chargers.gif')
}
.gif-Chiefs {
  background: url('./logos/Chiefs.gif')
}
.gif-Colts {
  background: url('./logos/Colts.gif')
}
.gif-Cowboys {
  background: url('./logos/Cowboys.gif')
}
.gif-Dolphins {
  background: url('./logos/Dolphins.gif')
}
.gif-Eagles {
  background: url('./logos/Eagles.gif')
}
.gif-Falcons {
  background: url('./logos/Falcons.gif')
}
.gif-Giants {
  background: url('./logos/Giants.gif')
}
.gif-Jaguars {
  background: url('./logos/Jaguars.gif')
}
.gif-Jets {
  background: url('./logos/Jets.gif')
}
.gif-Lions {
  background: url('./logos/Lions.gif')
}
.gif-Packers {
  background: url('./logos/Packers.gif')
}
.gif-Panthers {
  background: url('./logos/Panthers.gif')
}
.gif-Patriots {
  background: url('./logos/Patriots.gif')
}
.gif-Raiders {
  background: url('./logos/Raiders.gif')
}
.gif-Rams {
  background: url('./logos/Rams.gif')
}
.gif-Ravens {
  background: url('./logos/Ravens.gif')
}
.gif-Redskins {
  background: url('./logos/Redskins.gif')
}
.gif-Saints {
  background: url('./logos/Saints.gif')
}
.gif-Seahawks {
  background: url('./logos/Seahawks.gif')
}
.gif-Steelers {
  background: url('./logos/Steelers.gif')
}
.gif-Texans {
  background: url('./logos/Texans.gif')
}
.gif-Titans {
  background: url('./logos/Titans.gif')
}
.gif-Vikings {
  background: url('./logos/Vikings.gif')
}