.gif-49ers {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942380/49ers_gemmou.gif')
}
.gif-Bears {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942400/Bears_qprza5.gif')
}
.gif-Bengals {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942467/Bengals_zjmfct.gif')
}
.gif-Bills {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942472/Bills_m8oizo.gif')
}
.gif-Broncos {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942478/Broncos_xsnjuo.gif')
}
.gif-Browns {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942488/Browns_rmht5p.gif')
}
.gif-Buccaneers {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942493/Buccaneers_rrhrr2.gif')
}
.gif-Cardinals {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942609/Cardinals_xydeos.gif')
}
.gif-Chargers {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942619/Chargers_nwhtee.gif')
}
.gif-Chiefs {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942631/Chiefs_ovu4ei.gif')
}
.gif-Colts {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942635/Colts_xubkvz.gif')
}
.gif-Cowboys {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942642/Cowboys_fh1wem.gif')
}
.gif-Dolphins {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942647/Dolphins_gskxad.gif')
}
.gif-Eagles {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942657/Eagles_hu1pau.gif')
}
.gif-Falcons {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942664/Falcons_ovniix.gif')
}
.gif-Giants {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942684/Giants_bzwpra.gif5')
}
.gif-Jaguars {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942698/Jaguars_ky6rnj.gif')
}
.gif-Jets {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942710/Jets_mkzzao.gif')
}
.gif-Lions {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942751/Lions_jsebox.gif')
}
.gif-Packers {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942757/Packers_j2vn5u.gif')
}
.gif-Panthers {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942775/Panthers_deg5wb.gif')
}
.gif-Patriots {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942788/Patriots_jm0o6u.gif')
}
.gif-Raiders {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942804/Raiders_sbqips.gif')
}
.gif-Rams {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942810/Rams_r8katu.gif')
}
.gif-Ravens {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942820/Ravens_kivxxk.gif')
}
.gif-Redskins {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942826/Redskins_e8ho6g.gif')
}
.gif-Saints {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942833/Saints_osm8gy.gif')
}
.gif-Seahawks {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942846/Seahawks_djl53r.gif')
}
.gif-Steelers {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942856/Steelers_dovtbo.gif')
}
.gif-Texans {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942862/Texans_egbiku.gif')
}
.gif-Titans {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942870/Titans_oorhnq.gif')
}
.gif-Vikings {
  background: url('http://res.cloudinary.com/devwor0u0/image/upload/v1505942875/Vikings_kjihqy.gif')
}