.logo-49ers {
    background: url('<%= asset_path("logo_sprites.png") %> ') -86px -2px;
}
.logo-Bears {
    background: url('<%= asset_path("logo_sprites.png") %> ') -86px -284px;
}
.logo-Bengals {
    background: url('<%= asset_path("logo_sprites.png") %> ') -170px -2px;
}
.logo-Bills {
    background: url('<%= asset_path("logo_sprites.png") %> ') -2px -96px;
}
.logo-Broncos {
    background: url('<%= asset_path("logo_sprites.png") %> ') -86px -96px;
}
.logo-Browns {
    background: url('<%= asset_path("logo_sprites.png") %> ') -170px -96px;
}
.logo-Buccaneers {
    background: url('<%= asset_path("logo_sprites.png") %> ') -254px -2px;
}
.logo-Cardinals {
    background: url('<%= asset_path("logo_sprites.png") %> ') -254px -96px;
}
.logo-Chargers {
    background: url('<%= asset_path("logo_sprites.png") %> ') -2px -190px;
}
.logo-Chiefs {
    background: url('<%= asset_path("logo_sprites.png") %> ') -86px -190px;
}
.logo-Colts {
    background: url('<%= asset_path("logo_sprites.png") %> ') -170px -190px;
}
.logo-Cowboys {
    background: url('<%= asset_path("logo_sprites.png") %> ') -254px -190px;
}
.logo-Dolphins {
    background: url('<%= asset_path("logo_sprites.png") %> ') -338px -2px;
}
.logo-Eagles {
    background: url('<%= asset_path("logo_sprites.png") %> ') -338px -96px;
}
.logo-Falcons {
    background: url('<%= asset_path("logo_sprites.png") %> ') -338px -190px;
}
.logo-Giants {
    background: url('<%= asset_path("logo_sprites.png") %> ') -2px -284px;
}
.logo-Jaguars {
    background: url('<%= asset_path("logo_sprites.png") %> ') -2px -2px;
}
.logo-Jets {
    background: url('<%= asset_path("logo_sprites.png") %> ') -170px -284px;
}
.logo-Lions {
    background: url('<%= asset_path("logo_sprites.png") %> ') -254px -284px;
}
.logo-Packers {
    background: url('<%= asset_path("logo_sprites.png") %> ') -338px -284px;
}
.logo-Panthers {
    background: url('<%= asset_path("logo_sprites.png") %> ') -422px -2px;
}
.logo-Patriots {
    background: url('<%= asset_path("logo_sprites.png") %> ') -422px -96px;
}
.logo-Raiders {
    background: url('<%= asset_path("logo_sprites.png") %> ') -422px -190px;
}
.logo-Rams {
    background: url('<%= asset_path("logo_sprites.png") %> ') -422px -284px;
}
.logo-Ravens {
    background: url('<%= asset_path("logo_sprites.png") %> ') -2px -378px;
}
.logo-Redskins {
    background: url('<%= asset_path("logo_sprites.png") %> ') -86px -378px;
}
.logo-Saints {
    background: url('<%= asset_path("logo_sprites.png") %> ') -170px -378px;
}
.logo-Seahawks {
    background: url('<%= asset_path("logo_sprites.png") %> ') -254px -378px;
}
.logo-Steelers {
    background: url('<%= asset_path("logo_sprites.png") %> ') -338px -378px;
}
.logo-Texans {
    background: url('<%= asset_path("logo_sprites.png") %> ') -422px -378px;
}
.logo-Titans {
    background: url('<%= asset_path("logo_sprites.png") %> ') -506px -2px;
}
.logo-Vikings {
    background: url('<%= asset_path("logo_sprites.png") %> ') -506px -96px;
}