.bg-49ers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -10px;
}

.bg-Bears {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -340px;
}

.bg-Bengals {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -10px;
}

.bg-Bills {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -120px;
}

.bg-Broncos {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -120px;
}

.bg-Browns {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -120px;
}

.bg-Buccaneers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -10px;
}

.bg-Cardinals {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -120px;
}

.bg-Chargers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -230px;
}

.bg-Chiefs {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -230px;
}

.bg-Colts {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -230px;
}

.bg-Cowboys {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -230px;
}

.bg-Dolphins {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -10px;
}

.bg-Eagles {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -120px;
}

.bg-Falcons {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -230px;
}

.bg-Giants {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -340px;
}

.bg-Jaguars {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -10px;
}

.bg-Jets {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -340px;
}

.bg-Lions {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -340px;
}

.bg-Packers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -340px;
}

.bg-Panthers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -10px;
}

.bg-Patriots {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -120px;
}

.bg-Raiders {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -230px;
}

.bg-Rams {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -340px;
}

.bg-Ravens {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -450px;
}

.bg-Redskins {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -450px;
}

.bg-Saints {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -450px;
}

.bg-Seahawks {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -450px;
}

.bg-Steelers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -450px;
}

.bg-Texans {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -450px;
}

.bg-Titans {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -610px -10px;
}

.bg-Vikings {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -610px -120px;
}