.logo-49ers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -10px;
}

.logo-Bears {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -340px;
}

.logo-Bengals {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -10px;
}

.logo-Bills {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -120px;
}

.logo-Broncos {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -120px;
}

.logo-Browns {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -120px;
}

.logo-Buccaneers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -10px;
}

.logo-Cardinals {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -120px;
}

.logo-Chargers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -230px;
}

.logo-Chiefs {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -230px;
}

.logo-Colts {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -230px;
}

.logo-Cowboys {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -230px;
}

.logo-Dolphins {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -10px;
}

.logo-Eagles {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -120px;
}

.logo-Falcons {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -230px;
}

.logo-Giants {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -340px;
}

.logo-Jaguars {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -10px;
}

.logo-Jets {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -340px;
}

.logo-Lions {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -340px;
}

.logo-Packers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -340px;
}

.logo-Panthers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -10px;
}

.logo-Patriots {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -120px;
}

.logo-Raiders {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -230px;
}

.logo-Rams {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -340px;
}

.logo-Ravens {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -10px -450px;
}

.logo-Redskins {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -110px -450px;
}

.logo-Saints {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -210px -450px;
}

.logo-Seahawks {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -310px -450px;
}

.logo-Steelers {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -410px -450px;
}

.logo-Texans {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -510px -450px;
}

.logo-Titans {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -610px -10px;
}

.logo-Vikings {
  width: 80px;
  height: 90px;
  background: url('logo_sprites.png') -610px -120px;
}